body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgb(239, 239, 239);
}

.custom-navbar .navbar-nav {
    padding-right: 100px;
    /* Adjust right margin as needed */
}

/* Style for the navigation bar */
.navbar {
    background-color: rgb(216, 216, 216);
    padding-left: 100px;
    /* Adjust this value to control the space on the left */
    padding-right: 100px;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    padding-right: 100px;
}

.navbar-nav .nav-link {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    margin-right: 0;
    position: relative;
}

.navbar-nav .nav-link:last-child {
    margin-right: 0;
}

.navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    transform-origin: left;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

/* Style for the logo image */
.logo-image {
    width: 150px;
    height: auto;
}

/* Hero section styles */
.hero-image {
    background-image: url('https://res.cloudinary.com/dqe39dixt/image/upload/v1691332968/local-talk-hero_gxfxhm.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

.hero-image h1 {
    color: #fff;
    font-size: 104px;
    font-weight: bold;
}

.hero-image p {
    color: #fff;
    font-size: 36px;
}

/* Footer */
.custom-footer {
    background-color: rgb(216, 216, 216);
    padding: 30px 0;
    color: #555;
    line-height: 1.5;
}

.custom-footer h5 {
    font-size: 20px;
    font-weight: bold;
}

.custom-footer p {
    font-size: 16px;
    margin-bottom: 10px;
    /* Adjust as needed */
}

.custom-footer ul {
    padding-left: 0;
}

.custom-footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

.custom-footer ul li a,
.footer-link {
    font-size: 16px;
    color: #555;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.custom-footer ul li a::after,
.footer-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    transform-origin: left;
    visibility: hidden;
}

.custom-footer ul li a:hover::after,
.footer-link:hover::after {
    visibility: visible;
    width: 100%;
}

.footer-link:hover {
    text-decoration: none;
    color: #218f3b;
}

/* Styles for social links */
.social-links {
    padding-left: 0;
}

.social-links li {
    list-style: none;
    margin-bottom: 10px;
}

/* Font Awesome icons */
i {
    margin-right: 5px;
}

/* index html */


.shop-title {
    text-align: left;
    /* Center align the text */
    font-size: 32px;
    /* Set the font size */
    font-weight: bold;
    /* Make the text bold */
    margin-bottom: 20px;
    /* Add some space below the title */
    font-family: 'Bebas Neue', sans-serif;
}

.welcome-title {
    text-align: left;
    /* Center align the text */
    font-size: 32px;
    /* Set the font size */
    font-weight: bold;
    /* Make the text bold */
    margin-top: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

/* banner */
.shop-banner-container {
    text-align: center;
    width: 100%;
    /* Ensuring the container takes up the full width */
}

.shop-banner {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)), url('https://res.cloudinary.com/dqe39dixt/image/upload/v1691920376/local-talk-bandcamp-banner-logo_s16k7i.jpg');
    height: 300px;
    /* Set the height of the banner */
    background-size: cover;
    /* Cover the entire div with the image */
    background-position: center;
    /* Center the image */
    width: 100%;
    /* Ensuring the banner takes up the full width of its container */
    transition: opacity 0.5s ease;
    /* Transition effect for opacity */
}

.shop-banner:hover {
    opacity: 0.7;
    /* Change opacity on hover */
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 20px;
}

.custom-box-container {
    color: white;
    width: calc(50% - 20px); /* 50% width for 2 columns layout */
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.5s ease; /* Transition effect for opacity */
    height: 500px;
}

.custom-box-container:hover {
    opacity: 0.7; /* Change opacity on hover */
}

.custom-box-containera {
    color: inherit;
    /* This will make the link text inherit the color of the parent element */
    text-decoration: none;
    /* This will remove the underline */
}

.custom-box-container a h2 {
    color: #fff;
    /* You can set this to whatever color the text should be */
}

.box {
    height: 500px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
}

.box h2 {
    background-color: #28a745;
    display: inline-block; /* Wrap around the text */
    padding: 5px;
     /* Optional rounded corners */
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
}

.news-box {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
                     url('https://res.cloudinary.com/dqe39dixt/image/upload/v1691341506/media/record_covers/dan-tenor-city-tom-funk_p6stzn.jpg');
}

.promo-box {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
                     url('https://res.cloudinary.com/dqe39dixt/image/upload/v1691603072/local-talk-promo_cmlj9d.jpg');
}

.contact-box {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
                     url('https://res.cloudinary.com/dqe39dixt/image/upload/v1691602498/local-talk-contact_sfwrkb.jpg');
}

.login-box {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
                     url('https://res.cloudinary.com/dqe39dixt/image/upload/v1691603688/local-talk-login_zxwgu3.png');
}


/* news.html */

.news-title {
    text-align: left;
    /* Change to 'left' */
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 20px;
    /* Add this line */
    font-family: 'Bebas Neue', sans-serif;
}

.article-card {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.article-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.article-card:hover .article-image {
    transform: scale(1.1);
}

.article-card:hover .overlay {
    opacity: 1;
}

/* Style for the expanded article details */
.article-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.article-card:hover .article-details {
    display: block;
}

.green-link {
    color: #fff !important;
    /* Apply the !important rule to override Bootstrap styles */
    background-color: #00a859 !important;
    border: #fff !important;
    /* Apply the !important rule to override Bootstrap styles */
}

/* sign up page */

input {
    text-transform: none !important;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.sign-up-title {
    font-family: 'Bebas Neue', sans-serif;
}

.login-title {
    font-family: 'Bebas Neue', sans-serif;
}
.signup-box {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    
}

.btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #28a745;
}

/* Profile Page */

.profile-page {
    margin: 0 auto;
    max-width: 800px;
    /* You can adjust this as needed */
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.profile-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #555;
    font-family: 'Bebas Neue', sans-serif;
}

.profile-details div {
    margin-bottom: 20px;
    color: #555;
}

.profile-details h2 {
    font-size: 20px;
    font-weight: bold;
}

.profile-details p {
    font-size: 16px;
    color: #333;
}

/* Sign Up Page */

.container {
    margin-top: 40px;
}

.signup-box {
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.signup-box h2 {
    font-size: 26px;
    margin-bottom: 20px;
    
}

.signup-box form {
    font-size: 18px;
}

.signup-box button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.signup-box button:hover {
    background-color: #28a745;
}

.signup-box p {
    font-size: 16px;
}

.signup-box a {
    color: #28a745;
    text-decoration: none;
}

.signup-box a:hover {
    text-decoration: underline;
}

/* Sign Up and Login Form Container */
.box-container {
    padding: 20px;
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sign Up Form Style */
.signup-form,
.login-form {
    margin-bottom: 30px;
    /* Space between sign up and login forms */
}

.signup-form h2,
.login-form h2 {
    font-size: 26px;
    color: #555;
    margin-bottom: 20px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    /* Increase the font size of the button text */
    transition: background-color 0.3s;
    /* Add a smooth transition */
}

button:hover {
    background-color: #28a745;
    /* Darken the button when hovered */
}

.login-form {
    padding-top: 30px;
    /* Add some padding at the top of the login form */
}

.profile-header {
    text-align: left;
}

.profile-details {
    display: flex;
    justify-content: space-between;
}

.profile-details>div {
    flex: 1;
    text-align: left;
}

.track-profile {
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.track-header {
    color: #333;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
}

.track-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.track-title {
    font-size: 24px;
    color: #222;
}

.artist-name,
.duration,
.release-date,
.track-info {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

audio {
    width: 100%;
}

#audio_player .vjs-big-play-button,
#audio_player .vjs-text-track-display,
#audio_player .vjs-poster,
#audio_player .vjs-error-display,
#audio_player .vjs-fullscreen-control {
    display: none !important;
}

#audio_player .vjs-control-bar {
    width: 100% !important;
}

.feedback-form-section {
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.feedback-header {
    color: #333;
    font-weight: bold;
}

.feedback-form-group {
    margin-bottom: 15px;
}

.feedback-label {
    font-size: 16px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.feedback-form-group input,
.feedback-form-group textarea,
.feedback-form-group select {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
    color: #555;
}

.btn-submit-feedback {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-submit-feedback:hover {
    background-color: #28a745;
}

.download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.download-link:hover {
    background-color: #28a745;
    color: #fff;
}


/* Dahsboard html */

/* Feedback Dashboard Styles */
.feedback-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.feedback-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.feedback-col {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.feedback-col h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.feedback-col p {
    font-size: 14px;
    margin: 5px 0;
    color: #666;
}

#feedbackChart {
    max-width: 400px;
    height: 200px;
    margin: 20px auto;
    display: block;
}

/* Additional Styling for Feedback Metrics */
.feedback-col p {
    line-height: 1.5;
}

.feedback-col p strong {
    color: #333;
}

.feedback-col canvas {
    width: 100% !important;
}

/* Contact */

.custom-container .btn.btn-primary.custom-submit-button {
    background-color: #28a745;
    /* Replace with your desired color */
    border-color: #28a745;
    /* If you want to change the border color as well */
}

.thank-you-title {
    font-family: 'Bebas Neue', sans-serif;
}


/* media screen sizes */

@media screen and (max-width: 375px) {

    .hero-image {
            height: 400px;
        }
    
        .hero-image h1 {
            font-size: 84px;
        }
    
        .hero-image p {
            font-size: 26px;
        }
    
        .shop-banner {
            height: 200px;
        }

        .box {
            height: 325px;
            width: 325px;
            margin: 0 auto;
        }

        .custom-row {
            display: flex;
            flex-direction: column;
        }

        .article-details {
            width: 90%;
            /* take up 90% of the screen width */
            max-height: 80%;
            /* take up 80% of the screen height */
            overflow-y: auto;
            /* add scroll if content is too long */
        }

}

@media screen and (max-width: 480px){

        .shop-banner {
            height: 250px;
        }
    
        .box {
            height: 400px;
            width: 400px;
            margin: 0 auto;
        }

        .custom-row {
            display: flex;
            flex-direction: column;
        }

        .login-container {
            width: 400px;
            margin: 0 auto;
        }
        
        .login-form {
            margin-top: 20px;
        }
        
        .article-details {
            width: 90%;
            /* take up 90% of the screen width */
            max-height: 80%;
            /* take up 80% of the screen height */
            overflow-y: auto;
            /* add scroll if content is too long */
        }

    
}

@media screen and (max-width: 768px) {
    .box {
        height: 300px;
    }
}

@media screen and (max-width: 1024px) {
    .box {
        height: 400px;
        width: 400px;
    }

}