body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgb(239, 239, 239);
}

.custom-navbar .navbar-nav {
    padding-right: 100px;
    /* Adjust right margin as needed */
}

/* Style for the navigation bar */
.navbar {
    background-color: rgb(216, 216, 216);
    padding-left: 100px;
    /* Adjust this value to control the space on the left */
    padding-right: 100px;
    font-family: 'Bebas Neue';
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    padding-right: 100px;
}

.navbar-nav .nav-link {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    margin-right: 0;
    position: relative;
}

.navbar-nav .nav-link:last-child {
    margin-right: 0;
}

.navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    transform-origin: left;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

/* Style for the logo image */
.logo-image {
    width: 150px;
    height: auto;
}

/* Hero section styles */
.hero-image {
    background-image: url('https://res.cloudinary.com/dqe39dixt/image/upload/v1691332968/local-talk-hero_gxfxhm.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-image h1 {
    color: #fff;
    font-size: 104px;
    font-weight: bold;
    font-family: 'Bebas Neue';
}

.hero-image p {
    color: #fff;
    font-size: 36px;
    font-family: 'Bebas Neue';
}

/* Footer */
.custom-footer {
    background-color: rgb(216, 216, 216);
    padding: 30px 0;
    color: #555;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1.5;
}

.custom-footer h5 {
    font-size: 20px;
    font-weight: bold;
}

.custom-footer p {
    font-size: 16px;
    margin-bottom: 10px;
    /* Adjust as needed */
}

.custom-footer ul {
    padding-left: 0;
}

.custom-footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

.custom-footer ul li a,
.footer-link {
    font-size: 16px;
    color: #555;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.custom-footer ul li a::after,
.footer-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    transform-origin: left;
    visibility: hidden;
}

.custom-footer ul li a:hover::after,
.footer-link:hover::after {
    visibility: visible;
    width: 100%;
}

.footer-link:hover {
    text-decoration: none;
    color: #218f3b;
}

/* Styles for social links */
.social-links {
    padding-left: 0;
}

.social-links li {
    list-style: none;
    margin-bottom: 10px;
}

/* Font Awesome icons */
i {
    margin-right: 5px;
}

/* index html */

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 20px;
}

.box-container {
    color: white;
    width: calc(50% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.5s ease; /* Transition effect for opacity */
}

.box-container:hover {
    opacity: 0.7; /* Change opacity on hover */
}

.box-container a {
    color: inherit;
    /* This will make the link text inherit the color of the parent element */
    text-decoration: none;
    /* This will remove the underline */
}

.box-container a h2 {
    color: #fff;
    /* You can set this to whatever color the text should be */
}

.box {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
}

.box h2 {
    background-color: #28a745;
    display: inline-block; /* Wrap around the text */
    padding: 5px;
    border-radius: 3px; /* Optional rounded corners */
    font-size: 26px;
    font-family: 'Bebas Neue';
}

.news-box {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
                     url('https://res.cloudinary.com/dqe39dixt/image/upload/v1691341506/media/record_covers/dan-tenor-city-tom-funk_p6stzn.jpg');
}

.promo-box {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
                     url('https://res.cloudinary.com/dqe39dixt/image/upload/v1691603072/local-talk-promo_cmlj9d.jpg');
}

.contact-box {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
                     url('https://res.cloudinary.com/dqe39dixt/image/upload/v1691602498/local-talk-contact_sfwrkb.jpg');
}

.login-box {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
                     url('https://res.cloudinary.com/dqe39dixt/image/upload/v1691603688/local-talk-login_zxwgu3.png');
}


/* news.html */

.news-title {
    text-align: left;
    /* Change to 'left' */
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 20px;
    /* Add this line */
    font-family: 'Bebas Neue', sans-serif;
}

.article-card {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.article-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.article-card:hover .article-image {
    transform: scale(1.1);
}

.article-card:hover .overlay {
    opacity: 1;
}

/* Style for the expanded article details */
.article-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    font-family: 'Bebas Neue', sans-serif;
}

.article-card:hover .article-details {
    display: block;
}

.green-link {
    color: #fff !important;
    /* Apply the !important rule to override Bootstrap styles */
    background-color: #00a859 !important;
    border: #fff !important;
    /* Apply the !important rule to override Bootstrap styles */
}