@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gruppo&family=Permanent+Marker&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgb(239, 239, 239);
}

.custom-navbar .navbar-nav {
    padding-right: 100px;
    /* Adjust right margin as needed */
}

/* Style for the navigation bar */
.navbar {
    background-color: rgb(216, 216, 216);
    padding-left: 100px;
    /* Adjust this value to control the space on the left */
    padding-right: 100px;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    padding-right: 100px;
}

.navbar-nav .nav-link {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    margin-right: 0;
    position: relative;
}

.navbar-nav .nav-link:last-child {
    margin-right: 0;
}

.navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    transform-origin: left;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

/* Style for the logo image */
.logo-image {
    width: 150px;
    height: auto;
}

/* Hero section styles */
.hero-image {
    background-image: url('https://res.cloudinary.com/dqe39dixt/image/upload/v1691332968/local-talk-hero_gxfxhm.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-image h1 {
    color: #fff;
    font-size: 104px;
    font-weight: bold;
}

.hero-image p {
    color: #fff;
    font-size: 36px;
}

/* Footer */
.custom-footer {
    background-color: rgb(216, 216, 216);
    padding: 30px 0;
    color: #555;
}

.custom-footer h5 {
    font-size: 20px;
    font-weight: bold;
}

.custom-footer p,
.custom-footer ul li a,
.footer-link {
    font-size: 16px;
    color: #555;
    text-decoration: none;
    position: relative;
    /* Add this line */
    display: inline-block;
    /* Add this line */
}

.custom-footer ul {
    padding-left: 0;
}

.custom-footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

.custom-footer ul li a::after,
.footer-link::after {
    /* Add this line to apply the same effect to .footer-link */
    content: '';
    width: 0;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: 0;
    /* Change this line from -6px to 0 */
    transition: 0.5s;
    transform-origin: left;
    visibility: hidden;
}

.custom-footer ul li a:hover::after,
.footer-link:hover::after {
    /* Add this line to apply the same effect to .footer-link */
    visibility: visible;
    width: 100%;
}

.footer-link:hover {
    text-decoration: none;
    color: #218f3b;
}

/* Styles for social links */
.social-links {
    padding-left: 0;
}

.social-links li {
    list-style: none;
    margin-bottom: 10px;
}

/* Font Awesome icons */
i {
    margin-right: 5px;
}