{% extends "base.html" %}

{% block content %}

<h1 class="shop-title">Shop</h1>

<div class="custom-row">
    <div class="shop-banner-container">
        <a href="https://localtalk.bandcamp.com/music" target="_blank">
            <!-- Link to your external store -->
            <div class="shop-banner"></div>
        </a>
    </div>
</div>

<h2 class="welcome-title">Welcome</h2>

<div class="custom-row">
    <!-- News Box -->
    <div class="custom-box-container">
        <a href="{% url 'news' %}">
            <div class="box news-box">
                <h2>News</h2>
            </div>
        </a>
    </div>
    <!-- Promo Box -->
    <div class="custom-box-container">
        <a href="{% url 'promo' %}">
            <div class="box promo-box">
                <h2>Promo</h2>
            </div>
        </a>
    </div>

    <!-- Contact Box -->
    <div class="custom-box-container">
        <a href="{% url 'contact' %}">
            <div class="box contact-box">
                <h2>Contact</h2>
            </div>
        </a>
    </div>

    <!-- Login Box -->
    <div class="custom-box-container">
        <a href="{% url 'login' %}">
            <div class="box login-box">
                <h2>Login</h2>
            </div>
        </a>
    </div>
</div>
<!-- End of Custom container -->
{% endblock %}